.addTaskCard {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
form {
  margin-top: 10%;
  background-color: #7fddf3;
  border-radius: 5%;
  /* height: 30vh; */
  width: 22%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
}
form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid #000;
}
.displayCard {
  margin: 5%;
}
@media (max-width: 1200px) {
  form {
    width: 35%;
  }
}
@media (max-width: 1000px) {
  form {
    width: 45%;
  }

  .displayCard {
    margin: 1%;
  }
}
@media (max-width: 800px) {
  form {
    width: 50%;
  }

  .displayCard {
    margin: 1%;
  }
}
@media (max-width: 600px) {
  form {
    width: 55%;
  }

  .displayCard {
    margin: 1%;
  }
}
@media (max-width: 400px) {
  form {
    width: 80%;
  }
  .displayCard {
    margin: 1%;
  }
}
@media (max-width: 300px) {
  form {
    width: 90%;
  }
  .displayCard {
    margin: 1%;
  }
}

@media (max-width: 200px) {
  form {
    width: 100%;
  }
  .displayCard {
    margin: 0px;
  }
}
