.card {
  width: 12rem;
  height: 12rem;
  align-items: center;
  /* background-color: red; */
}
.sideP {
  rotate: 270deg;
}
.sideP div {
  width: 100%;
  height: 2px;
}
#c1 {
  background-color: #ef8f9e;
}
#c2 {
  background-color: #7fddf3;
}
#c3 {
  background-color: #7fbcce;
}
#c4 {
  background-color: #e5e5e5;
}
.table {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
